
.columns {
  display: flex;
  flex-direction: row;
  white-space: break-spaces;
  flex-wrap: wrap;
}

.content {
  margin: 2rem 0;
  padding: 2rem 0;
  margin-top: 60px!important;
  min-height: calc(100vh - 110px);
  @media (max-width: 1023px) {
    padding-top: 60px!important;
    padding: 0 1rem;
    margin: 1rem 0;
  }
  h1 {
    font-size: 32px;
    margin: 1rem 0 2rem;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; overflow:
  hidden; max-width: 100%;
  margin: 1.5rem 0;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.download-link-container {
  display: flex;
  flex-direction: row;
  .download-link {
    display: flex;
    background: $primary-color;
    padding: 1.5rem;
    color: $white;
    width: 270px;
    margin-right: 1rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
    &:hover {
      background: darken($primary-color, 10%);
    }
    &.full {
      width: auto;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $white;
      width: 100%;
      .arrow-down {
        background: url("../assets/images/down-arrow-white.svg");
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        &:after {
          content: "";
        }
      }
      p {
        margin-bottom: 0!important;
      }
    }
  }
}

.container {
  word-wrap: break-word;
  white-space: break-spaces;
  &.image-container {
    margin: 3rem 0;
    img {
      margin-bottom: 1rem;
      object-fit: cover;
    }
  }
}

.green-banner {
  background: $primary-color;
  padding: 1.5rem;
  color: $white;
  h3 {
    color: $white;
    margin: 0;
  }
  .column {
    text-align: center;
    ul {
      margin-left: 0;
      li {
        list-style: none;
      }
    }
  }
}

.box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  .green-box, .grey-box {
    padding: 1.5rem;
    width: 100%;
    margin: 1.5rem auto;
    height: 220px;
    color: $white;
    h3 {
      font-size: 1.5rem;
      text-align: center;
      color: $white;
    }
    ul {
      text-align: center;
      list-style: none;
      margin: 0;
      li {
        font-size: 1.2rem;
      }
    }
  }
  .green-box {
    background: $primary-color;
  }
  .grey-box {
    background: grey;
  }
}

div[role='alert'] {
  color: red;
  margin-top: 1em;
}

.icon {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 1rem;
  height: 55px;
  line-height: 50;
  &.icon-person {
    background-image: url('../assets/images/person.svg');
  }
  &.icon-pound {
    background-image: url('../assets/images/pound.svg');
  }
  &.icon-flask {
    background-image: url('../assets/images/flask.svg');
  }
  &.icon-phone, &.icon-envelope {
    padding: 0;
    height: 17px;
    display: inline-block;
  }
}

.button {
  padding: 0.5rem 2rem;
  color: $primary-color;
  border: 2px solid $primary-color;
  background: $white;
  border-radius: 1.5rem;
  text-transform: uppercase;
  margin: 1rem 0;
  &:hover, &:focus {
    background: $primary-color;
    border: 2px solid $primary-color;
    color: $white;
  }
}
