.studio-blurb {
  position: relative;
  margin: 0 auto;
  padding: 1rem 0 3rem;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  width: 80%;
  line-height: 40px;
  @media ( min-width: 1024px ) {
    padding: 3rem 0 5rem;
    font-size: 28px;
    width: 60%;
  }
}

.mission-blurb {
  text-align: center;
  background: url('../assets/images/Particles.png');
  padding: 5rem 0;
  span {
    color: $white;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    @media ( min-width: 1024px ) {
      font-size: 28px;
    }
  }
  h2 {
    color: $white;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-top: 0rem!important;
    @media ( min-width: 1024px ) {
      font-size: 85px;
    }
  }
  p {
    width: 80%;
    color: $white;
    font-size: 20px;
    margin: 0 auto;
    @media ( min-width: 1024px ) {
      font-size: 25px;
      width: 100%;
    }
  }
}

.squiggle {
  background: url("../assets/images/squiggle.png");
  width: 70px;
  height: 10px;
  background-position: center;
  background-size: cover;
  display: inline-block;
}

.partners-section {
  padding: 2rem 1rem;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  @media ( min-width: 1024px ) {
    width: 80%;
    padding: 3rem;
  }
  .partner-blurb {
    display: block;
    font-size: 18px;
    margin-bottom: 2rem;
  }
}

.latest-news-section {
  text-align: center;
  background: url('../assets/images/panel-dots.jpg');
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  @media ( min-width: 1024px ) {
    padding: 4rem 0;
  }
  .columns {
    @media ( min-width: 1024px ) {
      width: 80%;
      margin: 0 auto;
    }
  }
  span {
    color: $white;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    @media ( min-width: 1024px ) {
      font-size: 28px;
    }
  }
  h2 {
    color: $white;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-top: 0rem!important;
    @media ( min-width: 1024px ) {
      font-size: 85px;
    }
  }
  .news-thumb {
    padding: 0;
    .news-image {
      height: 220px;
      width: 100%;
      object-fit: cover;
    }
  }
  .overlay-container {
    position: relative;
    .overlay {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: rgba($black, 0.5);
      overflow: hidden;
      width: 100%;
      height:0;
      transition: .5s ease;
    }
    &:hover {
      .overlay {
        bottom: 0;
        height: 100%;
      }
    }
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 40%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: left;
    }
    .button {
      position: absolute;
      right: 1rem;
      bottom: 0;
      padding: 0.5rem 0.8rem;
      font-size: 0.875rem;
    }
  }
}

.bottom-text {
  text-align: center;
  padding: 2rem 0;
  width: 90%;
  margin: 0 auto;
  word-wrap: break-word;
  white-space: break-spaces;
  font-size: 1.2rem;
  @media ( min-width: 1024px ) {
    width: 60%;
    padding: 5rem 0;
  }
}

.share-buttons {
  margin-top: 1.5rem;
}
